html{
	background: url(../images/pitbull.jpg) no-repeat center center fixed;
	-webkit-bakground-size: cover;
	-moz-background-size: cover;
	

}


body{
	background-color:rgba(0,0,0,1);
}
#myImage{
	border:solid 1px #fff;
	width:400px;
	height:319px;
	background-image:url(../images/pitbull.jpg);


	/*border-style:solid;
	border-width:1px;
	border-color:#fff;*/

}